<div>
  <div class="table-header">
    <mat-form-field>
      <mat-label>Buscar empresa</mat-label>
      <!-- Cambia el evento (keyup) a (ngModelChange) para vincular con una variable y añade un botón para enviar la búsqueda -->
      <input matInput [(ngModel)]="searchQuery" placeholder="Nombre de la empresa">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="search()">Buscar</button>
  </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <!-- Columna ID -->

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Programs">
        <th mat-header-cell *matHeaderCellDef> Programs </th>
        <td mat-cell *matCellDef="let element"> {{element.programs}} </td>
      </ng-container>
  
      <ng-container matColumnDef="List">
        <th mat-header-cell *matHeaderCellDef> List </th>
        <td mat-cell *matCellDef="let element"> {{element.list}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Score">
        <th mat-header-cell *matHeaderCellDef> Score </th>
        <td mat-cell *matCellDef="let element"> {{element.score}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
  </div>
  