<div class="mat-elevation-z8">
  <div class="table-header">
    <mat-form-field>
      <mat-label>Buscar empresa</mat-label>
      <!-- Cambia el evento (keyup) a (ngModelChange) para vincular con una variable y añade un botón para enviar la búsqueda -->
      <input matInput [(ngModel)]="searchQuery" placeholder="Nombre de la empresa">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="search()">Buscar</button>
  </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!-- Columna ID --> 
      <!-- Columna Entity -->
      <ng-container matColumnDef="Entity">
        <th mat-header-cell *matHeaderCellDef> entity </th>
        <td mat-cell *matCellDef="let element"> {{element.entity}} </td>
      </ng-container>
  
      <!-- Columna Jurisdiction -->
      <ng-container matColumnDef="Jurisdiction">
        <th mat-header-cell *matHeaderCellDef> jurisdiction </th>
        <td mat-cell *matCellDef="let element"> {{element.jurisdiction}} </td>
      </ng-container>
  
      <!-- Columna LinkedTo -->
      <ng-container matColumnDef="LinkedTo">
        <th mat-header-cell *matHeaderCellDef> linkedTo </th>
        <td mat-cell *matCellDef="let element"> {{element.linkedTo}} </td>
      </ng-container>

      <!-- Columna DataFrom -->
      <ng-container matColumnDef="DataFrom">
        <th mat-header-cell *matHeaderCellDef> dataFrom </th>
        <td mat-cell *matCellDef="let element"> {{element.dataFrom}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  