<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proveedores</title>
</head>

<body>
    <br />
    <h2 style="text-align: center">Lista de Proveedores</h2>
    <div style="text-align: right;">
        <button mat-raised-button color="primary" routerLink="">Nuevo</button>
    </div>
    <mat-form-field>
        <input matInput (keyup)=filter($event) placeholder="buscar" />  
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="buscar()">ListaOFAC</button>
    <button mat-raised-button color="primary" (click)="buscar2()">ListaOffShore</button>

    <table mat-table [dataSource]="this.dataSource" class="mat-elevation-z4"  matSort>
        <!--Id Column -->
        <ng-container matColumnDef="IdProveedor">
            <th mat-header-cell *matHeaderCellDef>Código</th>
            <td mat-cell *matCellDef="let element">{{ element.idProveedor }}</td>
        </ng-container>

        <!-- RazonSocial Column -->
        <ng-container matColumnDef="RazonSocial">
            <th mat-header-cell *matHeaderCellDef>RazonSocial</th>
            <td mat-cell *matCellDef="let element">{{ element.razonSocial }}</td>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>
        
        <!-- IdTributaria Column -->
        <ng-container matColumnDef="IdTributaria">
            <th mat-header-cell *matHeaderCellDef>IdTributaria</th>
            <td mat-cell *matCellDef="let element">{{ element.idTributaria }}</td>
        </ng-container>

        <!-- Telefono Column -->
        <ng-container matColumnDef="Telefono">
            <th mat-header-cell *matHeaderCellDef>Telefono</th>
            <td mat-cell *matCellDef="let element">{{ element.telefono }}</td>
        </ng-container>

        <!-- Correo Column -->
        <ng-container matColumnDef="Correo">
            <th mat-header-cell *matHeaderCellDef>Correo</th>
            <td mat-cell *matCellDef="let element">{{ element.correo }}</td>
        </ng-container>

        <!-- SitioWeb Column -->
        <ng-container matColumnDef="SitioWeb">
            <th mat-header-cell *matHeaderCellDef>SitioWeb</th>
            <td mat-cell *matCellDef="let element">{{ element.sitioWeb }}</td>
        </ng-container>

        <!-- Direccion Column -->
        <ng-container matColumnDef="Direccion">
            <th mat-header-cell *matHeaderCellDef>Direccion</th>
            <td mat-cell *matCellDef="let element">{{ element.direccion }}</td>
        </ng-container>

        <!-- Pais Column -->
        <ng-container matColumnDef="Pais">
            <th mat-header-cell *matHeaderCellDef>Pais</th>
            <td mat-cell *matCellDef="let element">{{ element.pais }}</td>
        </ng-container>

        <!-- Facturacion Column -->
        <ng-container matColumnDef="Facturacion">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header sortActionDescription="Sort by number">Facturacion</th>
            <td mat-cell *matCellDef="let element">{{ element.facturacion }}</td>
        </ng-container>



        <!-- Acciones 01 and 02 columns -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary" [routerLink]="['ediciones', element.idCurso]">
                    <div fxFlexAlign="center"><mat-icon>create</mat-icon></div>
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="ofca">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary" [routerLink]="['/ofac', element.nombre]">
                    <div fxFlexAlign="center"><mat-icon>mute</mat-icon></div>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="offshore">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary" [routerLink]="['/offshore', element.nombre]">
                    <div fxFlexAlign="center"><mat-icon>eye</mat-icon></div>
                </button>
            </td>
        </ng-container>

        
        <ng-container matColumnDef="theworldbank">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary" [routerLink]="['/theworldbank', element.nombre]">
                    <div fxFlexAlign="center"><mat-icon>eye</mat-icon></div>
                </button>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</body>

</html>