<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header class="section__container header__container">
    <h1 class="section__header"> EasyAccess</h1>
    <p>
      En la red de la innovación, cada interacción en nuestra aplicación fortalece lazos con proveedores, tejiendo el
      camino hacia el éxito
    </p>
    <div class="btn-btn">
      <button mat-flat-button color="primary" class="btn" mat-button routerLink="/signup-user">Regístrate</button>
      <button mat-flat-button color="primary" class="btn" mat-button routerLink="/login">Inicia Sesión</button>
    </div>
  </header>

  <section class=" section__container memories">
    <div class="section__container memories__container">
      <div class="memories__header">
        <h2 class="section__header">Fuentes de búsqueda</h2>
      </div>
      <div class="memories__grid">
        <div class="memories__card">
          <h4>World Bank Debarred Firms and Individuals</h4>
          <p>
            Esta base de datos es mantenida por el Banco Mundial y lista las entidades (empresas e individuos) que han
            sido sancionadas e inhabilitadas para participar en proyectos financiados por el Banco Mundial.
          </p>
        </div>
        <div class="memories__card">
          <h4>ICIJ Offshore Leaks Database</h4>
          <p>
            El Consorcio Internacional de Periodistas de Investigación (ICIJ, por sus siglas en inglés) mantiene esta
            base de datos, que permite buscar a través de millones de registros de entidades offshore y otras
            estructuras financieras en paraísos fiscales.
          </p>
        </div>
        <div class="memories__card">
          <h4>OFAC Sanctions Search</h4>
          <p>
            La OFAC administra e impone sanciones económicas y comerciales siguiendo la política exterior y metas de
            seguridad nacional de EE.UU., dirigidas a países, entidades e individuos extranjeros. Su base de datos
            facilita la búsqueda de aquellos sujetos a sanciones por parte de EE.UU.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section__container template__container">
    <div class="template__content">
      <h2 class="section__header">EasyAccess: Conecta, Busca, Crece</h2>
      <p class="description">
        Esta aplicación potenciaría el cumplimiento legal y la gestión de riesgos para las empresas, ofreciendo una
        solución eficiente para la evaluación de socios comerciales mediante la consolidación de datos críticos sobre
        sanciones, corrupción y actividades offshore en una única plataforma.
      </p>
      <button mat-flat-button color="primary" class="btn" routerLink="/signup-user">Regístrate</button>
    </div>
    <div class="template__image">
      <img src="../../../assets/supplier2.png" alt="template" />
    </div>
  </section>

  <section>
    <footer class="section__container footer__container">
      <div class="footer__grid">
        <div class="footer__col">
          <h4>EasyAccess</h4>
          <p>
            <span><i class="ri-mail-fill"></i></span> camnav@pe.easyaccess.com
          </p>
          <p>
            <span><i class="ri-phone-fill"></i></span> +51 998877654
          </p>
        </div>
        <div class="footer__col">
          <h4>Sobre nosotros</h4>
          <p>Inicio</p>
          <p>Empresa</p>
          <p>Recursos</p>
        </div>
        <div class="footer__col">
          <h4>Aplicaciones</h4>
          <p>Blog</p>
          <p>Términos y políticas</p>
          <p>Términos y condiciones</p>
        </div>
        <div class="footer__col">
          <h4>Contáctanos</h4>
          <p>Departmento</p>
          <p>Redes sociales</p>
          <p>Soporte técnico</p>
        </div>
      </div>
    </footer>
    <div class="section__container footer__bar">
      <p>Copyright © 2024 EasyAccess. Todos los derechos reservados.</p>
      <div class="socials">
        <span><i class="ri-facebook-fill"></i></span>
        <span><i class="ri-twitter-fill"></i></span>
        <span><i class="ri-instagram-line"></i></span>
        <span><i class="ri-youtube-fill"></i></span>
      </div>
    </div>
  </section>
</body>

</html>